{% extends 'base.html.twig' %}

{% block title %}New Ordonance{% endblock %}

{% block section %}
   <section class="book" id="book">
        <h1 class="heading"><span>book</span> now</h1>
        <div class="row">
            <div class="image" style="width:400px;">
                <img src="{{asset('medcare-main/image/book-img.svg')}}" alt="">
            </div>
             {{ include('ordonance/_form.html.twig') }}
        </div>
    </section>
{% endblock %}
