{% extends 'baseB.html.twig' %}

{% block title %}Edit Medicament
{% endblock %}

{% block section %}
	<div class="container-fluid px-4">
		<h1 class="mt-4">Edit Medicament</h1>
		<ol class="breadcrumb mb-4">
			<li class="breadcrumb-item">
				<a href="{{ path('dashboard') }}">Dashboard</a>
			</li>
			<li class="breadcrumb-item active">Edit Medicament</li>
		</ol>
		<div class="card mb-4">
			<div class="card-header">
				<i class="fas fa-edit me-1"></i>
				Edit Medicament
			</div>
			<div class="card-body">
				{{ include('admin_medicament/_form.html.twig', {'button_label': 'Update'}) }}
				{{ include('admin_medicament/_delete_form.html.twig') }}
			</div>
		</div>
	</div>
{% endblock %}
