<form method="post" action="{{ path('app_rendez_vous_delete', {'id': facture.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce rendez-vous ?');" style="display:inline;">
   <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ facture.id) }}">
   <button type="submit" class="btn " style="font-weight: bold;">Supprimer</button>

</form>
