{% extends 'base.html.twig' %}

{% block title %}New RendezVous{% endblock %}

{% block section %}
    <section class="book" id="book">
        <h1 class="heading"><span>le prix  de rendez vous  est envoyé</span> </h1>
        
    </section>

    


{% endblock %}