{% extends 'base.html.twig' %}

{% block title %}New RendezVous{% endblock %}

{% block section %}
    <section class="book" id="book">
    
        <div class="conteneur1">
            <!-- Formulaire à gauche -->
            <div class="row1">
                {{ include('facture/_form.html.twig') }}
            </div>

            
            <div class="image-container">
                <img src="{{ asset('Frontoffice/image/about-img.svg') }}" alt="">
            </div>
        </div>
    </section>



{% endblock %}


    

    
